[Desktop Entry]
Type=Application
Exec=slimbookface
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]= Autoarranque de Slimbook Face
Name=Slimbook Face Autostart
Comment[es_ES]=Arranque con el sistema de Slimbook Face
Comment=Slimbook Face's autostart executable
X-GNOME-Autostart-Delay=2
