[Desktop Entry]
Name=Slimbook Face
Version=1.4beta
Exec=slimbookface
Comment=Authenticate without using password, just using your face!
Icon=slimbookface
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
Name[es_ES]=Slimbook Face
Name=Slimbook Face
